spring/src/main/resources/META-INF/self-user.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.imzdong.com/schema/self-user"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:element name="self-user">
        <xsd:complexType>
            <xsd:attribute name ="id" type="xsd:string"/>
            <xsd:attribute name="name" type="xsd:string" use="required"/>
            <xsd:attribute name="password" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>